@font-face {
    font-family: 'socicon';
    src:  url('../font/socicon.eot');
    src:  url('../font/socicon.eot') format('embedded-opentype'),
      url('../font/socicon.ttf') format('truetype'),
      url('../font/socicon.woff') format('woff'),
      url('../font/socicon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

/* inline icon
   ========================================================================== */
.socicon {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'socicon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em;
}

.socicon:empty {
    width: 1em;
}

.socicon-500px {
    background-color: #58a9de;
    color: #58a9de;
}

.socicon-500px:before {
    content: "\e056"
}


.socicon-facebook {
    background-color: #3b5998;
    color: #3b5998;
}

.socicon-facebook:before {
    content: "\e041"
}

.socicon-github {
    background-color: #221e1b;
    color: #221e1b;
}

.socicon-github:before {
    content: "\e030"
}

.socicon-google {
    background-color: #d93e2d;
    color: #d93e2d;
}

.socicon-google:before {
    content: "\e042"
}

.socicon-linkedin {
    background-color: #3371b7;
    color: #3371b7;
}

.socicon-linkedin:before {
    content: "\e049"
}

.socicon-stackoverflow {
    background-color: #FD9827;
    color: #FD9827;
}

.socicon-stackoverflow:before {
    content: "\e007"
}

.socicon-twitter {
    background-color: #55acee;
    color: #55acee;
}

.socicon-twitter:before {
    content: "\e040"
}

.socicon-youtube {
    background-color: #e02a20;
    color: #e02a20;
}

.socicon-youtube:before {
    content: "\e051"
}

.zoom-social-icons-list {
    list-style-type: none;
}

.zoom-social_icons-list__item {
    margin: 0 0 10px;
}

.zoom-social_icons-list__label {
    margin-left: 4px;
}

.zoom-social-icons-list--no-labels .zoom-social_icons-list__item {
    display: inline-block;
    margin: 4px;
    border: none;
}

.zoom-social-icons-list .socicon,
.zoom-social-icons-list .dashicons,
.zoom-social-icons-list .genericon,
.zoom-social-icons-list .fa
{
    padding: 8px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    top: 0px;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1.2em;
}

.zoom-social-icons-list--with-canvas .socicon,
.zoom-social-icons-list--with-canvas .dashicons,
.zoom-social-icons-list--with-canvas .genericon,
.zoom-social-icons-list--with-canvas .fa
{
    color: #ffffff;
}

.zoom-social-icons-list--without-canvas .socicon,
.zoom-social-icons-list--without-canvas .dashicons,
.zoom-social-icons-list--without-canvas .genericon,
.zoom-social-icons-list--without-canvas .fa
{
    background: none;
}

/* .widget because we need higher css specificity */
.widget .zoom-social-icons-list--without-canvas {
    margin-left: -8px;
    margin-top: -4px;
}

.widget .zoom-social-icons-list--no-labels.zoom-social-icons-list--without-canvas {
    margin-left: -14px;
    margin-top: -8px;
}

.zoom-social-icons-list--rounded .socicon,
.zoom-social-icons-list--rounded .genericon,
.zoom-social-icons-list--rounded .dashicons,
.zoom-social-icons-list--rounded .fa
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

.zoom-social_icons-list__link {
    text-align: center;
    text-decoration: none !important;
    transition: all 0.2s ease;
}

.zoom-social_icons-list__link:hover {
    opacity: .9;
    border: none;
    text-decoration: none;
    box-shadow: none !important;
}

.zoom-social-icons-list--round .socicon,
.zoom-social-icons-list--round .genericon,
.zoom-social-icons-list--round .dashicons,
.zoom-social-icons-list--round .fa
{
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.zoom-social-icons-list {
    margin: 0;
    padding: 0;
}