<a class="site-brand" href="{{ site.Home.RelPermalink }}">
  {{ with site.Params.author.image }}
    <img src="{{ . }}" alt="">
  {{ end }}
  <span>{{ site.Title }}</span>
</a>
<button class="site-menu-button" type="button" data-menu-toggle aria-label="Menu" aria-expanded="false" aria-controls="site-navigation">
  {{ partial "icon.html" "menu" }}
</button>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
<div class="site-header__actions">
  <a class="site-coffee-button{{ if eq .RelPermalink "/support/" }} active{{ end }}" href="{{ "/support/" | relURL }}" aria-label="Support Me" title="Support Me">
    {{ partial "icon.html" "coffee" }}
  </a>
  <button class="site-search-button" type="button" data-search-open aria-label="Search" aria-expanded="false" aria-controls="site-search-modal">
    {{ partial "icon.html" "search" }}
  </button>
</div>
