{{- $url := .Permalink | urlquery -}}
{{- $title := .Title | urlquery -}}
{{- $twitterURL := printf "https://twitter.com/intent/tweet?url=%s&text=%s" $url $title -}}
{{- $linkedinURL := printf "https://www.linkedin.com/sharing/share-offsite/?url=%s" $url -}}
{{- $redditURL := printf "https://www.reddit.com/submit?url=%s&title=%s" $url $title -}}

<div class="share-links" aria-label="Share this article">
  <span class="share-links__label">Share:</span>
  <a href="{{ $twitterURL | safeURL }}" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
    <span>Twitter</span>
  </a>
  <a href="{{ $linkedinURL | safeURL }}" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
    <span>LinkedIn</span>
  </a>
  <a href="{{ $redditURL | safeURL }}" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-reddit" aria-hidden="true"></i>
    <span>Reddit</span>
  </a>
</div>
