<div class="social-share">

    <div style="font-weight: bold">Share this:</div>
    <a rel="nofollow" class="fa fa-twitter"
       href="https://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on Twitter"></a>
    <a rel="nofollow" class="fa fa-linkedin"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on LinkedIn"></a>

</div>
