<header id="header">

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </div>
            
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                    <li><a href="{{ .Site.BaseURL }}page/about">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ .Site.BaseURL }}page/trainings">Trainings</a></li>
                            <li><a href="{{ .Site.BaseURL }}page/freelancing">Freelancing</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ .Site.BaseURL }}page/contact">Contact</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
    
</header><!--/header-->