<!-- SIDEBAR -->
{{ $baseURL := .Site.BaseURL }}
<div id="sidebar">
				
<div class="widget search">
     <form role="form">
             <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
     </form>
</div><!--/.search-->

<div class="widget categories">
    <h3>Latest Posts</h3>
    <div class="row">
        {{ range first 5 (where .Site.Pages.ByDate.Reverse "Section" "post") }}
        <div class="col-sm-12">
            <div class="single_comments">                
                <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>                
            </div>            
        </div>
        {{ end }}
    </div> 
</div><!--/.recent comments-->
  

 <div class="widget tags">
     <h3>Tag Cloud</h3>
     <ul class="tag-cloud">
     	 {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
		    <li><a class="btn btn-xs btn-primary" href="{{ $baseURL }}tags/{{ $name | urlize }}">{{ $name | title }}</a></li>
		  {{ end }}         
     </ul>
 </div><!--/.tags-->
   

 <div class="widget categories">
     <h3>Categories</h3>
     <div class="row">
         <div class="col-sm-6">
             <ul class="blog_archieve">
             	{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
             	 	<li><i class="fa fa-angle-double-right"></i> <a href="/categories/{{ $name | urlize }}">{{ $name | title }}</a></li>
	  			{{ end }}
             </ul>
         </div>
     </div>                     
 </div><!--/.categories-->

</div>   