
<main id="main" class="site-main" role="main">

    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

    {{ range $paginator.Pages }}
    <article class="post type-post status-publish format-standard hentry">
        <div class="blog-item-wrap">
            <a href="{{ .Permalink }}" title="{{ .Title }}"></a>
            <div class="post-inner-content">
                <header class="entry-header page-header">
                    <h2 class="entry-title">
                        <a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
                    </h2>
                    {{ partial "post-meta.html" . }}
                </header>

                <div class="entry-content">
                    <p>{{ .Summary  }} [&hellip;]</p>
                    <p><a class="btn btn-default read-more"
                          href="{{ .Permalink }}"
                          title="{{ .Title }}">Read More</a>
                    </p>

                    {{ partial "social-share.html" . }}

                </div><!-- .entry-content -->
            </div>
        </div>
    </article><!-- #post-## -->

    {{ end }}

    {{ partial "pagination.html" . }}

</main><!-- #main -->
