
<main id="main" class="site-main" role="main">

    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

    {{ range $paginator.Pages }}
    <article
            class="post type-post status-publish format-standard hentry">
        <div class="blog-item-wrap">
            <a href="{{ .Permalink }}"
               title="{{ .Title }}">
            </a>
            <div class="post-inner-content">
                <header class="entry-header page-header">

                    <h2 class="entry-title"><a
                            href="{{ .Permalink }}"
                            rel="bookmark">{{ .Title }}</a></h2>

                    <div class="entry-meta">
                        <span class="posted-on"><i class="fa fa-calendar"></i>

                            <time class="entry-date published">{{ .Date.Format "Jan 2, 2006" }}</time>
                        </span>
                        <span> <i class="fa fa-user"></i>
                            <span class="author vcard">
                                Siva
                            </span>
                        </span>
                    </div>
                </header>

                <div class="entry-content">

                    <p>{{ .Summary  }} [&hellip;]</p>
                    <p><a class="btn btn-default read-more"
                          href="{{ .Permalink }}"
                          title="{{ .Title }}">Read More</a></p>

                </div><!-- .entry-content -->
            </div>
        </div>
    </article><!-- #post-## -->


    {{ end }}

    {{ partial "pagination.html" . }}

</main><!-- #main -->
