<header id="masthead" class="site-header" role="banner">
    <nav class="navbar navbar-default " role="navigation">
        <div class="container">
            <div class="row">
                <div class="site-navigation-inner col-sm-12">
                    <div class="navbar-header">
                        <button type="button" class="btn navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div id="logo">
                            <h1 class="site-name">
                                <a class="navbar-brand" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">{{ .Site.Title }}</a>
                            </h1>
                        </div><!-- end of #logo -->
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul id="menu-home" class="nav navbar-nav">
<!--

                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="{{ "/tags/java" | relLangURL }}">Java</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ "/tags/spring" | relLangURL }}">Spring </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="{{ "/tags/javaee" | relLangURL }}">Java EE</a></li>
-->

                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1774 dropdown">
                                <a href="#">Tutorials </a><span class="caret sparkling-dropdown"></span>
                                <ul role="menu" class=" dropdown-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ "/tutorials/java" | relLangURL }}">&nbsp;Java</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ "/tutorials/springboot" | relLangURL }}">&nbsp;Spring Boot</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ "/projects" | relLangURL }}">Projects</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ "/videos" | relLangURL }}">Videos</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="{{ "/mybooks" | relLangURL }}">My Books</a></li>
                            <!--
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown">
                                <a href="#">Trainings </a><span class="caret sparkling-dropdown"></span>
                                <ul role="menu" class=" dropdown-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ "/trainings/corejava" | relLangURL }}">&nbsp;Core Java</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ "/trainings/springboot" | relLangURL }}">&nbsp;Spring Boot</a>
                                    </li>
                                </ul>
                            </li>
                            -->
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ "/contact" | relLangURL }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav><!-- .site-navigation -->
</header><!-- #masthead -->
