<head>
    {{ if (not (eq .Site.GoogleAnalytics "")) }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
    <div class="analytics">
        {{ template "_internal/google_analytics_async.html" . }}
    </div>
    {{ end }}
    {{ end }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" property="title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Title }}{{ if eq $isHomePage false }} - {{ .Title }}{{ end }}{{ if eq $isHomePage true }} - {{ .Site.Params.Subtitle}}{{ end }}">
    <meta name="description" property="description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}" >
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Title }}{{ if eq $isHomePage false }} - {{ .Title }}{{ end }} {{ if eq $isHomePage true }} - {{ .Site.Params.Subtitle}}{{ end }}</title>
    {{ template "_internal/twitter_cards.html" . }}
    {{ with .Site.Social.twitter -}}
    <meta name="twitter:creator" content="@{{ . }}"/>
    {{ end -}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    <link rel='stylesheet' href="{{"assets/css/bootstrap.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/font-awesome.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C400%2C600%2C700%7CRoboto+Slab%3A400%2C300%2C700&#038;ver=4.8.3'  type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/style.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/js/vendor/social-icons-widget-by-wpzoom/assets/css/socicon.css" | relURL }}" type='text/css' media='all'/>
    <link rel="stylesheet" href="{{"assets/css/social-logos/social-logos.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{"assets/css/jetpack.css" | relURL }}" type="text/css" media="all">
    <link rel="shortcut icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon">

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

</head>
