<div class="well">

    {{ partial "social-links.html" . }}

    <aside id="widget_sp_image-4" class="widget widget_sp_image">
        <h3 class="widget-title">My Recent Books</h3><a
            href="https://www.amazon.com/Beginning-Spring-Boot-Applications-Microservices/dp/1484229304"
            target="_blank" class="widget_sp_image-image-link" title="My Recent Books">
            <img alt="Beginning Spring Boot 2" class="attachment-full" src="/images/ApressSpringBootBook.jpg"/></a>
    </aside>

    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            {{- $recent_articles_num := (.Site.Params.widgets.recent_articles_num | default 10) }}
            {{- range first $recent_articles_num (where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "posts"))) }}
            <li class="widget__item"><a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{- end }}
        </ul>
    </aside>
<!--

    <aside id="top-posts-3" class="widget widget_top-posts">
        <h3 class="widget-title">Top Posts &amp; Pages</h3>
        <ul>
            <li>
                <a href="http://sivalabs.in/2016/03/springboot-working-with-jdbctemplate/"
                   class="bump-view" data-bump-view="tp">
                    SpringBoot : Working with JdbcTemplate </a>
            </li>
            <li>
                <a href="http://sivalabs.in/2016/09/getting-started-springboot-intellij-idea-community-edition/"
                   class="bump-view" data-bump-view="tp">
                    Getting Started with SpringBoot in Intellij IDEA Community Edition </a>
            </li>
        </ul>
    </aside>

-->
    <aside id="tag_cloud-5" class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            {{- if isset .Site.Taxonomies "tags" }}
            {{- if not (eq (len .Site.Taxonomies.tags) 0) }}

                <div class="widget__content">
                    {{- range $name, $items := .Site.Taxonomies.tags }}
                    <a class="tag-cloud-link widget__link widget__link--taglist"
                       href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}" title="{{ $name }}">{{ $name }}{{ if $.Site.Params.widgets.tags_counter }} ({{ $items.Count }}){{ end }}</a>
                    {{- end }}
                </div>

            {{- end }}
            {{- end }}

        </div>
    </aside>

    <aside class="widget widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
            {{- if isset .Site.Taxonomies "categories" }}
            {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
                {{- range $name, $items := .Site.Taxonomies.categories }}
                    <li class="cat-item"><a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title }}</a></li>
                {{- end }}

            {{- end }}
            {{- end }}
        </ul>
    </aside>
</div>
