<aside id="zoom-social-icons-widget-2" class="widget zoom-social-icons-widget">
    <h3 class="widget-title">Social Networks</h3>

    <ul class="zoom-social-icons-list zoom-social-icons-list--with-canvas zoom-social-icons-list--rounded zoom-social-icons-list--no-labels">

        {{ if (not (eq .Site.Params.github "")) }}
        <li class="zoom-social_icons-list__item">
            <a class="zoom-social_icons-list__link"
               href="{{.Site.Params.github}}"
               target="_blank">
                    <span class="zoom-social_icons-list-span socicon socicon-github"
                          data-hover-rule="background-color" data-hover-color="#221e1b"
                          style="background-color : #221e1b; font-size: 18px; padding:8px"
                    ></span>
            </a>
        </li>
        {{ end }}

        {{ if (not (eq .Site.Params.twitter "")) }}
        <li class="zoom-social_icons-list__item">
            <a class="zoom-social_icons-list__link"
               href="{{.Site.Params.twitter}}"
               target="_blank">
                    <span class="zoom-social_icons-list-span socicon socicon-twitter"
                          data-hover-rule="background-color" data-hover-color="#55acee"
                          style="background-color : #55acee; font-size: 18px; padding:8px"
                    ></span>
            </a>
        </li>
        {{ end }}

        {{ if (not (eq .Site.Params.facebook "")) }}
        <li class="zoom-social_icons-list__item">
            <a class="zoom-social_icons-list__link"
               href="{{.Site.Params.facebook}}"
               target="_blank">
                    <span class="zoom-social_icons-list-span socicon socicon-facebook"
                          data-hover-rule="background-color" data-hover-color="#3b5998"
                          style="background-color : #3b5998; font-size: 18px; padding:8px"
                    ></span>
            </a>
        </li>
        {{ end }}

        {{ if (not (eq .Site.Params.googleplus "")) }}
        <li class="zoom-social_icons-list__item">
            <a class="zoom-social_icons-list__link"
               href="{{.Site.Params.googleplus}}"
               target="_blank">
                    <span class="zoom-social_icons-list-span socicon socicon-google"
                          data-hover-rule="background-color" data-hover-color="#d93e2d"
                          style="background-color : #d93e2d; font-size: 18px; padding:8px"
                    ></span>
            </a>
        </li>
        {{ end }}

        {{ if (not (eq .Site.Params.linkedin "")) }}
        <li class="zoom-social_icons-list__item">
            <a class="zoom-social_icons-list__link"
               href="{{.Site.Params.linkedin}}"
               target="_blank">
                    <span class="zoom-social_icons-list-span socicon socicon-linkedin"
                          data-hover-rule="background-color" data-hover-color="#3371b7"
                          style="background-color : #3371b7; font-size: 18px; padding:8px"
                    ></span>
            </a>
        </li>

        {{ end }}

        {{ if (not (eq .Site.Params.youtube "")) }}
        <li class="zoom-social_icons-list__item">
            <a class="zoom-social_icons-list__link"
               href="{{.Site.Params.youtube}}"
               target="_blank">
                    <span class="zoom-social_icons-list-span socicon socicon-youtube"
                          data-hover-rule="background-color" data-hover-color="#e02a20"
                          style="background-color : #e02a20; font-size: 18px; padding:8px"
                    ></span>
            </a>
        </li>
        {{ end }}
    </ul>
</aside>
