<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Title }}{{ if eq $isHomePage false }} - {{ .Title }}{{ end }} {{ if eq $isHomePage true }} - {{ .Site.Params.Subtitle}}{{ end }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" property="title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Title }}{{ if eq $isHomePage false }} - {{ .Title }}{{ end }}{{ if eq $isHomePage true }} - {{ .Site.Params.Subtitle}}{{ end }}">
    <meta name="description" property="description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}" >
    {{ template "_internal/twitter_cards.html" . }}
    {{ with .Site.Social.twitter -}}
    <meta name="twitter:creator" content="@{{ . }}"/>
    {{ end -}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    <!--
    <link rel='stylesheet' href="{{"assets/css/style.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/genericons.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/font-awesome.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/socicon.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/jetpack.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/custom-styles.min.css" | relURL }}" type='text/css' media='all'/>
    -->
    <link rel='stylesheet' href="{{"assets/css/styles-bundle.min.css" | relURL }}" type='text/css' media='all'/>

    <!--
    <script type='text/javascript' src="{{"assets/js/jquery-1.12.4.min.js" | relURL }}"></script>
    <script type='text/javascript' src="{{"assets/js/html5shiv.min.js" | relURL }}"></script>
    <script type='text/javascript' src="{{"assets/js/navigation.min.js" | relURL }}"></script>
    <script type='text/javascript' src="{{"assets/js/search.js" | relURL }}"></script>
    -->
    <script type='text/javascript' src="{{"assets/js/bundle.min.js" | relURL }}"></script>

    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon" />

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    {{ if (not (eq .Site.GoogleAnalytics "")) }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
    {{ template "_internal/google_analytics.html" . }}
    {{ end }}
    {{ end }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6679930559924163"
            crossorigin="anonymous"></script>
</head>
<body class="home blog post-layout-one-column">
    <div id="header-top" class="header-bar-wrap"></div>
    <div id="page" class="site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        {{ partial "header.html" . }}
        <div id="content" class="site-content container clearfix">
            {{ block "main" . }} {{ end }}
        </div>
        <div id="footer" class="footer-wrap">
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
