<!doctype html>
{{ $baseUrl := .Site.BaseURL }}

<html lang="en-US">
{{ partial "head.html" . }}

<body class="home blog">
<div id="page" class="hfeed site">
    {{ partial "header.html" . }}

    <div id="content" class="site-content">

        <div class="top-section">
        </div>

        <div class="container main-content-area">
            <div class="row side-pull-left">
                <div class="main-content-inner col-sm-12 col-md-8">

                    <div id="primary" class="content-area">
                        <main class="main-content content" role="main" itemprop="mainContentOfPage">
                            <div class="warning">
                                <h1 class="warning__headline">404. Page not found</h1>
                                <p class="warning__text">The page you were looking for appears to have been moved, deleted or does not exist. Please, use search or go to <a href="{{ "" | relLangURL }}">main page</a>.</p>
                            </div>
                        </main>

                    </div><!-- #primary -->

                </div><!-- close .main-content-inner -->
                <div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
                    {{ partial "sidebar.html" . }}

                </div><!-- #secondary -->
            </div><!-- close .row -->
        </div><!-- close .container -->
    </div><!-- close .site-content -->

    <div id="footer-area">
        {{ partial "footer.html" . }}
    </div>
</div><!-- #page -->

</body>
</html>
