
{{ define "main" }}

<article class="post type-post status-publish format-standard hentry">
    <div class="post-inner-content">
        <header class="entry-header page-header">
            <h1 class="entry-title ">{{ .Title }}</h1>
            {{ partial "post-meta.html" . }}
        </header>
        <div class="entry-content">
            {{ .Content }}
        </div>
        {{ partial "social-share.html" . }}
    </div>
</article>
{{ partial "comments.html" . }}
{{ partial "post_nav.html" . }}

{{ end }}
