
{{ define "main" }}

<article class="post type-post status-publish format-standard hentry">
    <div class="post-inner-content">
        <header class="entry-header page-header">

            <h1 class="entry-title ">
                {{ .Title }}
            </h1>

            <div class="entry-meta">
                <span class="posted-on"><i class="fa fa-calendar"></i>
                    <time class="entry-date published"
                          datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>
                </span>
                <span class="byline">
                    <i class="fa fa-user"></i>
                    <span class="author vcard">Siva</span>
                </span>
                <span class="cat-links"><i class="fa fa-folder-open-o"></i>
				    {{ range $index, $category := .Params.categories }}
                        {{ if gt $index 0 }}, {{ end }}
                        <a rel="category tag" href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>
                    {{ end }}

                </span>

            </div>
        </header>

        <div class="entry-content">
            {{ .Content }}
        </div>
        <footer class="entry-meta">
            {{- if .Params.tags }}
            <div class="tagcloud" style="display: block;">

                    {{- range .Params.tags }}
                    <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a></li>
                    {{- end }}
            </div>
            {{- end }}
        </footer>
    </div>
</article>
{{ partial "comments.html" . }}
{{ partial "post_nav.html" . }}



{{ end }}

